:root {
  --color1: #7356E2;
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow: auto;
}
body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: 48px;
}

header a {
  color: #777777;
  margin-right: 16px;
  text-decoration: none;
}
header div {
  margin-bottom: 20px;
}

header {
  flex: 0 0 auto;
  padding: 0 10vw;
}

#main-content {
  padding: 0 10vw;
  height: 100%;
  flex-grow: 1;
  font-size: 14px;
  overflow-y: auto;
}

i.fa {
  font-size: 18px;
}

.timeline-content {
  margin-bottom: 50px;
}

ul {
  margin-bottom: 0;
  padding-left: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 250px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  top: 24px;
  bottom: -24px;
  left: 50%;
  margin-left: -1px;
}

/* Item */
.item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.item::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -8px;
  top: 24px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the item to the left */
.left {
  left: 0;
}

/* Place the item to the right */
.right {
  left: 50%;
}

/* Add arrows to the left item (pointing right) */
.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--color1);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--color1);
}

/* Add arrows to the right item (pointing left) */
.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--color1);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color1) transparent transparent;
}

/* Fix the circle for items on the right side */
.right::after {
  left: -7px;
}

/* The actual content */
.content {
  padding: 15px;
  background-color: var(--color1);
  position: relative;
  border-radius: 6px;
  color: white;
}

.color1::after {
  background-color: var(--color1);
}
.color1 > .item::after {
  background-color: var(--color1);
}

/* -- HOME PAGE -- */

.banner {
  margin-top: 32px;
  max-width: 450px;
  margin: auto;
  text-align: center;
}
.banner h2 {
  color: var(--color1);
}
.banner p {
  line-height: 2;
}
.image-center {
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 25px;
  }

  /* Full-width items */
  .item {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .item::before {
    left: 50px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  /* Make all right items behave like the left ones */
  .right {
    left: 0%;
  }
}
