$color1: #7356e2;

.experience__timeline-content {
  margin-bottom: 50px;
}

.experience__title {
    margin-bottom: 0;
}

.experience__title-border {
    background-color: $color1;
    height: 3px;
    margin-bottom: 32px;
    width: 0;
}

.experience__list {
  margin-bottom: 0;
  padding-left: 10px;
}

/* The actual timeline (the vertical ruler) */
.experience__timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50px;
}

/* The actual timeline (the vertical ruler) */
.experience__timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  top: 24px;
  bottom: -24px;
  left: 50%;
  margin-left: -1px;
}

/* Item */
.experience__item {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.experience__item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -8px;
  top: 24px;
  border-radius: 50%;
  z-index: 1;
  animation: fadeIn 1s linear;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

/* Place the item to the left */
.experience__left {
  left: 0;
  transform: translateX(-200%);
}

/* Place the item to the right */
.experience__right {
  left: 50%;
  transform: translateX(200%);
}

/* Add arrows to the left item (pointing right) */
.experience__left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid $color1;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $color1;
}

/* Add arrows to the right item (pointing left) */
.experience__right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid $color1;
  border-width: 10px 10px 10px 0;
  border-color: transparent $color1 transparent transparent;
}

/* Fix the circle for items on the right side */
.experience__right::after {
  left: -7px;
}

/* The actual content */
.experience__content {
  padding: 15px;
  background-color: $color1;
  position: relative;
  border-radius: 6px;
  color: white;
}

.experience__color1::after {
  background-color: $color1;
}

@keyframes fadeIn {
  0% {
    content: "";
    background-color: transparent;
  }
  100% {
    content: "";
    background-color: $color1;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 900px) {
  /* Place the timelime to the left */
  .experience__timeline::after {
    left: 25px;
  }

  /* Full-width items */
  .experience__item {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .experience__item::before {
    left: 50px;
    border: medium solid $color1;
    border-width: 10px 10px 10px 0;
    border-color: transparent $color1 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .experience__left::after,
  .experience__right::after {
    left: 18px;
  }

  /* Make all right items behave like the left ones */
  .experience__right {
    left: 0%;
  }

  /* These are really right items for this screen size */
  .experience__left {
    transform: translateX(200%);
  }
}
