.header {
  flex: 0 0 auto;
  padding: 24px 10vw 0 10vw;

  a {
    color: #777777;
    margin-right: 16px;
    text-decoration: none;
  }

  div {
    margin-bottom: 20px;
  }
}

.content {
  padding: 0 10vw;
  height: 100%;
  flex-grow: 1;
  font-size: 16px;
}

i.fa {
  font-size: 18px;
}

h1 {
  font-family: 'Kalam', cursive;
  margin-bottom: 32px;
}
