* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
